.gameContent{
    margin-top: 25px;
}

.questionName{
    margin-left: 15px;
}

.answerList {
    margin-top: 25px;
}

.answer {
    margin-left: 15px;
    cursor: pointer;
}

.boutonNext {
    margin-top: 25px;
}