.catList {
    display: flex;
}

.cat {
    border: 1px solid grey;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    width: 80px;
    cursor: pointer;

    margin-left: 25px;
}